<div class="center jumbotron">
    <h1>Manager view</h1>
   <%= link_to "go to restaurant home", restauranthome_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "home", managerhome_path, class: "btn btn-lg btn-primary" %>
<% if @inventory.blank? %>
<p>There are not any items currently in the inventory.</p>
<% else %>
<p>These are the current items in our inventory</p>

<table style="width:100%">
  <tr>
    <th>Item Name</th>
    <th>Quantity Available</th>
  </tr>
   <% @inventory.each do |c| %>
   <tr>
   <td><%= c.item_name %></td>
   <td><%= c.quantity_available %></td>
    </tr>
   <% end %>
</table>


<% end %>
<p><%= link_to "Add new Item", {:action => 'update' }%></p>

</div>