<div class="center jumbotron">
  <h1>Welcome to Restaurant</h1>

  <h2>
   this is online restaurant management
  </h2>

  <%= link_to "menu", menu_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "chef", chefhome_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "customer", customerhome_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "manager", managerhome_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "home", restauranthome_path, class: "btn btn-lg btn-primary" %>
</div>

