<nav class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "Home", chefhome_path, class: "navbar-brand" %>
        <%= link_to "Prepare Food", chefprepare_path, class: "navbar-brand" %>
        <%= link_to "View Catalog", chefview_path, class: "navbar-brand" %>
        <%= link_to "Go to Restaurant Home", restauranthome_path, class: "navbar-brand" %>
  </div>
  </nav>
<p class="lead"> Lets prepare food</p>

<div class="table-responsive col-sm-8">
    
<table  style="width:100%" class="table table-hover table-striped">
  <thead>
  <tr>
      <th>S no</th>
     <th>Customer Name</th> 
     <th>Ordered Dish</th>
     <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
   <% @orders.each do |t| %>
   <tr>
       <td> </td>
   <td><%= t.customer_name %></td>
   <td><%= t.ordered_dish %></td>
   <td><%= t.Quntatity_of_each_item %></td>
   <td> <b> <%= link_to "Proceed And CheckOut", {:action => 'delete', :id => t.id},
      :confirm => "Are you sure you want to delete this item?" %></b> </td>
    </tr>
   
    </tbody>
   <% end %>
</table>
</div>
