<p id="notice"><%= notice %></p>
<div class="container">
<h1>Food zone</h1>
<p>Lets prepare food</p>
<%= link_to "home", chefhome_path, class: "btn btn-lg btn-primary" %>
<%= link_to "edit", chefedit_path, class: "btn btn-lg btn-primary" %>
<% if @order.blank? %>
<p>There are not any items currently in the inventory.</p>
<% else %>
<p>These are the current items in our inventory</p>
<%= form_tag edit_multiple_path, method: :get do %>
<table style="width:100%">
  <tr>
     <th>Select</th> 
    <th>Name of customer</th>
    <th>dish ordered</th>
    <th>quantity required</th>
  </tr>
  

   <%  @order.each do |c| %>
   <tbody>
   <tr>
      
    <td> <%= check_box_tag "order_ids[]", c.id%></td>
 
   <td><%= c.customer_name %></td>
   <td><%= c.ordered_dish %></td>
   <td><%= c.quantity %></td>
  <td> <%= link_to "Accept", edit_chef_path(c), class: "btn btn-lg btn-primary" %></td>
   
    </tr>
      </tbody>
    
    <% end %>
 

</table>
<%= submit_tag "Edit Checked"  %>
<% end %>


<% end %>
</div> 

