<nav class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "home", chefhome_path, class: "navbar-brand" %>
        <%= link_to "prepare food", chefprepare_path, class: "navbar-brand" %>
        <%= link_to "view catalog", chefview_path, class: "navbar-brand" %>
        <%= link_to "go to restaurant home", restauranthome_path, class: "navbar-brand" %>
  </div>
  </nav>
  <div class="container-fluid">
    <h1>Recipes</h1>
   
<div class="table-responsive col-sm-8">
    
<table  style="width:100%" class="table table-hover table-striped">
  <thead>
  <tr>
     <th>Recipe</th>
     <th>Desciption</th>
  </tr>
  </thead>
  <tbody>
   <% @prices.each do |t| %>
   <tr>
   <td><%= t.dish_name %></td>
   <td><%= t.description %></td>
   
    </tr>
    </tbody>
<% end %>
</table>
</div>

