<nav class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "Home", inventoryhome_path, class: "navbar-brand" %>
        <%= link_to "Manage Inventory", inventoryindex_path, class: "navbar-brand" %>
        <%= link_to "Go to Restaurant Home", restauranthome_path, class: "navbar-brand" %>
  </div>
  </nav>
  
<div class="container">
      </br>
<a class="lead">New Ingredient</a>

<%= form_for(@inventory, url: inventory_index_path) do |f| %>
    
     
      <%= f.label :name_of_item %>
      <%= f.text_field :item_name %>
     

      <%= f.label :Quantity %>
      <%= f.text_field :quantity_available %>
      

 
      <%= f.submit "Add to Inventory", :class => "btn btn-primary" %>
<% end %>


<%= link_to 'Back', inventory_index_path %>
</div>