<%= form_tag(inventory_search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Inventory" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<% if @inventory.blank? %>
  <h4>There are no ingredients containing the term <%= params[:search] %>.</h4>
  <% else %>
  <p>These are the current search items in our inventory</p>


<table style="width:100%">
  <tr>
    <th>Item Name</th>
    <th>Quantity Available</th>
  </tr>
   <% @inventory.each do |c| %>
   <tr>
   <td><%= c.item_name %></td>
   <td><%= c.quantity_available %></td>
    </tr>
   <% end %>
</table>
<% end %>