<nav class="navbar navbar-default">
    <div class="container-fluid">
  <%= link_to "Menu", menu_path, class: "navbar-brand"%>
  <%= link_to "Login", login_path, class: "navbar-brand" %>
  </div>
  </nav>
  <div class="container">
    <div >
    <a class="lead"> you,ordered the following items.</a>

  <p> Hi <%= @name %> !! Here is your Order summary :</p>

  
  <div class="table-responsive ">
  <table class="table table-hover table-striped">
   <tr>
       <th>Menu Item</th>
       <th>Price</th>
        <th>Quantity</th>
   </tr>
   <% k=0 %>
    <%  for c in @checkouts  %>
   <tbody>
       <tr>
       <td><%= c.dish_name%> </td>
       <td><%= c.price%> </td>
        <td><%= @q[k] %></td>
       <% k = k + 1%>
       </tr>
   </tbody>
    <% end %>
   
  <table>
  
  </div>
   <p class="lead"> Total Amount = <%= @total %> </p>  
   
    <%= link_to "proceed", restauranthome_path, class: "btn btn-primary", alert: 'Order placed Succesfully!!!' %>  
</div>
 