<p id="notice"><%= notice %></p>
<div class="container">
    <h1>Menu</h1>
<% if @price.blank? %>
<p>no menu</p>
<% else %>

<div class="table-responsive">
<%= form_tag(customercheckout_path, method: :get) do %>   
<table  style="width:100%" class="table table-hover">
  <thead>
  <tr>
     <th>S.no</th> 
    <th>Menu Item</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  </thead>
  
  
   <% @price.each do |t| %>
   <tbody>
   <tr>
    <td> <%= check_box_tag "customer_ids[]",t.id %></td>
             
   <td><%= t.dish_name %></td>
   <td><%= t.price %></td>
   <td><%= t.description %></td>
 
   
    </tr>
   
    </tbody>
   <% end %>
</table>
<%= submit_tag "checkout" %>
<% end %>
<% end %>
</div>
</div>