<div class="container">
    <h1>Menu</h1>
<% if @price.blank? %>
<p>no menu</p>
<% else %>

<div class="table-responsive">
    
<table  style="width:100%" class="table table-hover">
  <thead>
  <tr>
     <th>S.no</th> 
    <th>Menu Item</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  </thead>
  
  <tbody>
   <% @price.each do |t| %>
   <tr>
    <td>   <div class="form-check">
              <%= check_box_tag "product_ids[]",, product.id , class="form-check-input"%></td>
              </div>
   <td><%= t.dish_name %></td>
   <td><%= t.price %></td>
   <td><%= t.description %></td>
   <td><%= text_field_tag :qty, params[:qty] %></td>
 
    </tr>
   
    </tbody>
   <% end %>
</table>
</div>


<% end %>

</div>